.super-mario {
    position: absolute;
    width: 150px;
          
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 300px;
    
  }
  
  .baloon {
      width: 200px;
      position: absolute;
      left: 150px;
    
  }
  
  .speach {
    font-size: 18px;
    position: absolute;
    top: 100px;
    left: 160px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 300px;
    

  }